body
{
  background:linear-gradient(to right,rgba(245, 200, 167, 0.421),rgba(235, 233, 233, 0.421),rgba(163, 163, 232, 0.448));
  /* background-image: url('./bg.png');
background-size: cover;
background-position: center; */
}